body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;

  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  margin: 0em;
  height: 12vh;
  width: 100%;
  background-color: rgb(74, 238, 74);
  color: rgb(35, 25, 128);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 5px 15px 5px rgba(18, 71, 247, 0.5);
}
.footer{
  position: fixed;
  clear: both;
  left:0;
  bottom: 0;
  width: 100%;
  color: rgb(35, 25, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  background-color: rgb(135, 245, 135);
  box-shadow: 2px 5px 15px 5px rgba(5, 181, 224, 0.8);
}
.form{
  min-height: 50px;
  color:#ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgb(74, 238, 74, 0.8); 
  border-radius: 10px;
  position: relative;
}
.text{
  width: 100%;
  line-height: 30px;
  color:rgb(22, 22, 243);
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  margin: 10px 0;

}
.input{
  width: 100%;
  line-height: 30px;
  outline: none;
  color:rgb(17, 17, 104);
  border: none;
  background: transparent;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;

}
.btn{
  position: relative;
  float: right;
  margin-right: 10px;
  color:#f40800;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 5px 15px -5px rgb(74, 238, 74, 0.8); 
  border-radius: 50%;


}
.btn:hover{
  background: #caf085 !important;
  color:#2e13c2;
}
.deleteIcon{
  width: 0.7em;
  height: 0.7em;

}
.note.btn:hover{
  background-color: #f5ba13;
}
.note.btn:hover .deleteIcon{
  color: #fff;
}
.note p{
  font-size: 1.1em;
  color:#2610ec;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note h1{
  font-size: 1.1em;
  color:#2610ec;
  margin-bottom: 6px;
  text-transform: capitalize;
}
.note .date{
  font-style: italic;
  color:#f40800;
  font-size: 15px;
  float: right;
}
.main-note{
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
 
 
}
.note{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(18, 71, 247, 0.6);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.MuiButton-root:hover{
  background: #00c3f4 !important;
}
.MuiButton-root:hover .plus{
  color: #fff;
  background: transparent;
}
.MuiButton-root .plus{
  font-size: 45px !important;
  font-weight: 900;
  color: #3d0f92;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}
.MuiButton-root{
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left:400px;
  cursor: pointer;
  background-color: #fff !important;
  box-shadow: 3px 5px 15px -5px rgba(18, 71, 247, 0.7);
  border-radius: 50% !important;

}
.my_notes h1{
  color:#08325c;
}
.my_notes p{
  color:rgb(153, 59, 241);
}
@media (min-width: 1024px){
  .header{
    width: 100%;
    height: 8vh;
}
.footer{
  width: 110%;
  display: flex;
  justify-content: center;
}
.main-note{
  width: 500px;
  margin: 40px auto;
}
.form{
  min-height: 50px;
  border-radius: 10px;
  position: relative;
}
.text{
  width: 100%;
  line-height: 30px;
}
.input{
  width: 100%;
  line-height: 30px;
}
.MuiButton-root{
  width: 20px;
  height: 40px;
}
.note{
  justify-items: center;
  margin: 50px left;
  width: 240px;
}}